{% extends "base.html" %}
{% block title %} 404 {% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/pages/block.css">
{% endblock %}

{% block content %}
<div class="main-block">
	<div class="title-block">
		<h2 class="title-title">
			Forgot Password
		</h2>
	</div>
	<div class="text-block">
		<h3 class="text-title">You forgot your password? Dont worry!</h3>
    	<li>Please join our Discord and create a ticket in the #support forum!</li>
		<li>We can help you with your request there.</li>
		<br>
	   	<li>You can join the Discord <a href="/discord">here</a>.</li>
	</div>
</div>
{% endblock %}