  <!-- HTML Meta Tags -->
  <meta name="description" content="somtum - somtom.fun osu!bancho">

  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="Rules - somtum">
  <meta itemprop="description" content="somtum - somtom.fun osu!bancho">
  <meta itemprop="image" content="https://{{ domain() }}/static/favicon/android-chrome-256x256.png">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://{{ domain() }}/rules">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Rules - somtum">
  <meta property="og:description" content="somtum - somtom.fun osu!bancho">
  <meta property="og:image" content="https://{{ domain() }}/static/favicon/android-chrome-256x256.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:title" content="Rules - somtum">
  <meta name="twitter:description" content="somtum - somtom.fun osu!bancho">
  <meta name="twitter:image" content="https://{{ domain() }}/static/favicon/android-chrome-256x256.png">

{% extends 'base.html' %}
{% block title %} Rules {% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/pages/rules.css">
{% endblock %}

{% block content %}
<div class="main-block is-marginless is-paddingless is-auth">
    <div class="columns pm-reset is-weeb">
        <div class="column title-block">
            <div class="titlewithsub">
                <h1 class="title is-left">Rules</h1>
                <h2 class="subtitle">There's rules?</h2>
            </div>
        </div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column icon-block">
            <i class="fas fa-book is-headericon"></i>
        </div>
    </div>
    <div class="columns pm-reset flex-lcenter is-block">
        <div class="box is-padding">
            <div class="bordertitle">
                <div class="titlewithsub not-last-rule">
                    <h1 class="title is-left">1. Use common sense</h1>
                    <h2 class="subtitle">
                        This includes being respectful to each other when interacting, as well as not doing (or abusing) things that are unintended.
                        If you happen to find bugs, please create a ticket in the support forum on our
                        <a href="/discord">Discord</a>.
                    </h2>
                </div>
            </div>
            <div class="bordertitle">
                <div class="titlewithsub not-last-rule">
                    <h1 class="title is-left">2. Don't cheat.</h1>
                    <h2 class="subtitle">
                        Seriously, don't. This is meant to be a fun experience for everyone, and this is only given if everyone adheres the same rules.
                        Therefore, any client modifications, injections, and anything else considered cheating is <bold><u>not</u></bold> allowed.
                        You can take the definition of cheating as it exists on the official osu! servers and apply it 1:1 here.
                    </h2>
                </div>
            </div>
            <div class="bordertitle">
                <div class="titlewithsub">
                    <h1 class="title is-left">3. Don't create multiple accounts</h1>
                    <h2 class="subtitle">
                        As you are probably used from the official osu! servers, creating more than one account per person is a bannable offense.
                        If you have a concern suggesting the creation of a new account, please create a ticket in the support forum on our
                        <a href="/discord">Discord</a>. We will try to help you there as well as we can.
                    </h2>
                </div>
            </div>
            <br/>
            <div class="box is-block is-marginless is-waiting" style="padding: 30px !important">
                <div style="padding-bottom: 30px">
                    <h1 class="title is-left">Where do I report a user that breaks the rules?</h1>
                    <h2 class="subtitle">
                        To report a user, please create a ticket in the #support forum on our <a href="/discord">Discord</a>.
                        Everything further will be handled there.
                    </h2>
                </div>
                <div>
                    <h1 class="title is-left">How do I appeal my punishment?</h1>
                    <h2 class="subtitle">
                        To appeal your punishment, please create a ticket in the #support forum on our <a href="/discord">Discord</a>.
                        We will then reach out to you, discussing your punishment and a more detailed appeal from your side.
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}